

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/cemstools/">
      <img th:src="@{/images/inerco_ico.png}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      CEMSTools
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/cemstools/gencode">Gen. codigo</a>
        <a class="nav-link active" aria-current="page" href="/cemstools/bddscripts">BDD Scripts</a>
        <a class="nav-link disabled">Proximamente</a>
      </div>
    </div>
  </div>
</nav>