 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>CEMS Tools</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:insert="shareds/CDN.html">  
<body class="text-center">
	<link th:insert="shareds/header.html"> 
	<div style="margin-top: 5%;" class="text-center">
		<img class="mb-4" th:src="@{/images/inerco_ico.png}" alt="Inerco_ico" width="72" height="72">
		<h1>CEMS Tools APP</h1>

		<div class="card text-center" style="padding: 2%; width: 40%; margin-left: 30%; margin-right: 30%">
			<div class="card-body text-center">
				<form action="#" th:action="@{/cemstools/genscripts}" method="post" th:object="${databaseForm}">
		            <div class="form-floating">
			    	  <input type="text" class="form-control" id="floatingInput" placeholder="Bdd name" th:field="*{nombre}" required>
				      <label for="floatingInput" th:text="#{message.gemscript.bddnombre}"></label>
				    </div><br>
		    
		    		<div class="form-floating">
			    	  <input type="text" class="form-control" id="floatingInput" placeholder="Bdd ID" th:field="*{id}">
				      <label for="floatingInput" th:text="#{message.gemscript.bddid}"></label>
				    </div><br>
				    
				    <select class="form-select" aria-label="Default select" name="opcion" th:field="*{numEstaciones}">
					  <option value="1" selected th:text="1+' '+#{message.gemscript.est}"></option>
					  <option value="2" th:text="2+' '+#{message.gemscript.ests}"></option>
					  <option value="3" th:text="3+' '+#{message.gemscript.ests}"></option>
					  <option value="4" th:text="4+' '+#{message.gemscript.ests}"></option>
					  <option value="5" th:text="5+' '+#{message.gemscript.ests}"></option>
					</select>
		    		
		    		<div style="padding-top: 5%">
			    		<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" th:field="*{sustitucion}">
						  <label class="form-check-label" for="inlineCheckbox1" th:text="#{message.gemscript.sust}"></label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" th:field="*{replicacion}">
						  <label class="form-check-label" for="inlineCheckbox2" th:text="#{message.gemscript.rep}"></label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" th:field="*{linealidad}">
						  <label class="form-check-label" for="inlineCheckbox3" th:text="#{message.gemscript.lin}"></label>
						</div>
						<div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" th:field="*{horarios}">
						  <label class="form-check-label" for="inlineCheckbox4" th:text="#{message.gemscript.hor}"></label>
						</div>
		    		</div>
		    
					<div class="form-check form-switch" style="margin-top: 2%">
					  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked th:field="*{unknown}">
					  <label class="form-check-label" for="flexSwitchCheckChecked" th:text="#{message.gemscript.uparm}"></label>
					</div>
		    
		            <div class="d-grid gap-2" style="padding-top: 3%">
						<button class="btn btn-success" type="submit" th:text="#{message.btn.gen}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>