 <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>CEMS Tools</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:insert="shareds/bootstrapCDN.html">  
<body class="text-center">
	<link th:insert="shareds/header.html"> 
	<div style="margin-top: 5%;" class="text-center">
		<img class="mb-4" th:src="@{/images/inerco_ico.png}" alt="Inerco_ico" width="72" height="72">
		<h1>CEMS Tools APP</h1>

		<div class="card text-center" style="padding: 2%; width: 40%; margin-left: 30%; margin-right: 30%">
			<div class="card-body text-center">
			
				<div  th:text="#{message.index.inicio}"></div>
				
		        <div class="d-grid gap-2" style="padding-top: 5%">
					<a class="btn btn-success" href="/cemstools/gencode" role="button" th:text="#{message.index.btn1}"></a>
					<a class="btn btn-success" href="/cemstools/bddscripts" role="button" th:text="#{message.index.btn2}"></a>
					<a class="btn btn-success disabled" href="/cemstools/genscripts" role="button" th:text="#{message.index.btn3}"></a>
				</div>
			</div>
		</div>
	</div>

</body>
</html>